**Context**

Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present more unique, personalized way of experiencing the world. This dataset describes the listing activity and metrics in NYC, NY for 2019.

**Content**

This data file includes all needed information to find out more about hosts, geographical availability, necessary metrics to make predictions and draw conclusions.

**Acknowledgements**

This public dataset is part of Airbnb, and the original source can be found on this website.

Inspiration
- What can we learn about different hosts and areas?
- What can we learn from predictions? (ex: locations, prices, reviews, etc)
- Which hosts are the busiest and why?
- Is there any noticeable difference of traffic among different areas and what could be the reason for it?

**Column**

    id : listing ID
    name : name of the listing
    host_id : host ID
    host_name : name of the host                     
    neighbourhood_group : location            
    neighbourhood : area                
    latitude : latitude coordinates                     
    longitude : longitude coordinates                      
    room_type : listing space type                     
    price : price in dollars                       
    minimum_nights : amount of nights minimum                
    number_of_reviews : number of reviews               
    last_review : latest review                  
    reviews_per_month : number of reviews per month              
    calculated_host_listings_count : amount of listing per host 
    availability_365 : number of days when listing is available for booking     
    
https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data?select=AB_NYC_2019.csv

Ridge, Lasso, and ElasticNet information : https://www.datacamp.com/community/tutorials/tutorial-ridge-lasso-elastic-net

In [1]:
import numpy as np
import pandas as pd
import geopandas
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from scipy import stats
import statsmodels.api as sm
plt.style.use('fivethirtyeight')


from sklearn.preprocessing import RobustScaler, MinMaxScaler, MaxAbsScaler, LabelEncoder
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import PolynomialFeatures as PF
from sklearn.pipeline import make_pipeline

def find_outlier(x):
    q1 = x.describe()['25%']
    q3 = x.describe()['75%']
    iqr = abs(q1-q3)
    bttm_threshold = q1 - (iqr*1.5)
    top_threshold = q3 + (iqr*1.5)
    outlier = [i for i in x if i < bttm_threshold or i > top_threshold]
    outlier_array = np.array(outlier)
    return outlier_array

In [2]:
df = pd.read_csv('AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

# Full Dataset

## Preparing Dataset

In [3]:
df1 = df.copy()
df1 = df1.drop(columns=['name','id','host_name','last_review'])

In [4]:
df1['neighbourhood_group_enc'] = LabelEncoder().fit_transform(df['neighbourhood_group'])
df1['neighbourhood_enc'] = LabelEncoder().fit_transform(df['neighbourhood'])
df1['room_type_enc'] = LabelEncoder().fit_transform(df['room_type'])
df1 = df1.drop(columns=['neighbourhood', 'neighbourhood_group', 'room_type'])
df1

,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group_enc,neighbourhood_enc,room_type_enc
0,2787,40.64749,-73.97237,149,1,9,0.21,6,365,1,108,1
1,2845,40.75362,-73.98377,225,1,45,0.38,2,355,2,127,0
2,4632,40.80902,-73.94190,150,3,0,NaN,1,365,2,94,1
3,4869,40.68514,-73.95976,89,1,270,4.64,1,194,1,41,0
4,7192,40.79851,-73.94399,80,10,9,0.10,1,0,2,61,0
...,...,...,...,...,...,...,...,...,...,...,...,...
48890,8232441,40.67853,-73.94995,70,2,0,NaN,2,9,1,13,1
48891,6570630,40.70184,-73.93317,40,4,0,NaN,2,36,1,28,1
48892,23492952,40.81475,-73.94867,115,10,0,NaN,1,27,2,94,0
48893,30985759,40.75751,-73.99112,55,1,0,NaN,6,2,2,95,2
48894,68119814,40.76404,-73.98933,90,7,0,NaN,1,23,2,95,1

In [5]:
df1 = df1.fillna(0)

In [6]:
df1.isna().sum()

host_id                           0
latitude                          0
longitude                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
neighbourhood_group_enc           0
neighbourhood_enc                 0
room_type_enc                     0
dtype: int64

In [7]:
df1

,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group_enc,neighbourhood_enc,room_type_enc
0,2787,40.64749,-73.97237,149,1,9,0.21,6,365,1,108,1
1,2845,40.75362,-73.98377,225,1,45,0.38,2,355,2,127,0
2,4632,40.80902,-73.94190,150,3,0,0.00,1,365,2,94,1
3,4869,40.68514,-73.95976,89,1,270,4.64,1,194,1,41,0
4,7192,40.79851,-73.94399,80,10,9,0.10,1,0,2,61,0
...,...,...,...,...,...,...,...,...,...,...,...,...
48890,8232441,40.67853,-73.94995,70,2,0,0.00,2,9,1,13,1
48891,6570630,40.70184,-73.93317,40,4,0,0.00,2,36,1,28,1
48892,23492952,40.81475,-73.94867,115,10,0,0.00,1,27,2,94,0
48893,30985759,40.75751,-73.99112,55,1,0,0.00,6,2,2,95,2
48894,68119814,40.76404,-73.98933,90,7,0,0.00,1,23,2,95,1

---

## Split Dataset

In [8]:
x1 = df1.drop(columns=['price'])
y1 = df1['price']

In [9]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size=0.2, random_state=0)

## Testing Model

### Linear Regression, Lasso, Ridge, ElasticNet

In [10]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    model.fit(x1_train, y1_train)
    y1_pred = model.predict(x1_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y1_test, y1_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y1_test,y1_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y1_test,y1_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 222.08
MAE	 = 75.06
R2 Score = 10.39


Model	 = Lasso()
RMSE	 = 223.64
MAE	 = 76.91
R2 Score = 9.13


Model	 = Ridge()
RMSE	 = 222.09
MAE	 = 75.03
R2 Score = 10.38


Model	 = ElasticNet()
RMSE	 = 227.49
MAE	 = 83.04
R2 Score = 5.97

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.85823e-19): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

### Polynomial 2

In [11]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    poly_reg = make_pipeline(
        PF(2, include_bias=False),
        i
    )

    poly_reg.fit(x1_train, y1_train)
    # predict
    y_pred = poly_reg.predict(x1_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y1_test, y_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y1_test,y_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y1_test,y_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 261.94
MAE	 = 131.48
R2 Score = -24.67

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1026797106.831587, tolerance: 228169.42523489104
  model = cd_fast.enet_coordinate_descent(
C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=7.12146e-38): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

Model	 = Lasso()
RMSE	 = 219.95
MAE	 = 73.08
R2 Score = 12.1


Model	 = Ridge()
RMSE	 = 219.51
MAE	 = 72.35
R2 Score = 12.46


Model	 = ElasticNet()
RMSE	 = 220.45
MAE	 = 73.99
R2 Score = 11.7

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1029423900.7531025, tolerance: 228169.42523489104
  model = cd_fast.enet_coordinate_descent(

### Polynomial 3

In [12]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    poly_reg = make_pipeline(
        PF(3, include_bias=False),
        i
    )

    poly_reg.fit(x1_train, y1_train)
    # predict
    y_pred = poly_reg.predict(x1_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y1_test, y_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y1_test,y_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y1_test,y_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 252.4
MAE	 = 102.9
R2 Score = -15.75

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 991387770.1532499, tolerance: 228169.42523489104
  model = cd_fast.enet_coordinate_descent(

Model	 = Lasso()
RMSE	 = 219.08
MAE	 = 72.51
R2 Score = 12.8

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.75105e-55): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

Model	 = Ridge()
RMSE	 = 217.86
MAE	 = 71.45
R2 Score = 13.76


Model	 = ElasticNet()
RMSE	 = 219.37
MAE	 = 72.97
R2 Score = 12.57

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 992452613.8139046, tolerance: 228169.42523489104
  model = cd_fast.enet_coordinate_descent(

### OLS for LinearModel

In [13]:
X_stat = df1.drop(columns=['price']).values
y_stat = df1['price'].values

X_stat = sm.add_constant(X_stat) # adding a constant

model = sm.OLS(y_stat, X_stat).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.091
Model:                            OLS   Adj. R-squared:                  0.091
Method:                 Least Squares   F-statistic:                     443.7
Date:                Thu, 06 Aug 2020   Prob (F-statistic):               0.00
Time:                        08:41:13   Log-Likelihood:            -3.3506e+05
No. Observations:               48895   AIC:                         6.701e+05
Df Residuals:                   48883   BIC:                         6.702e+05
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -5.102e+04   2002.162    -25.483      0.000   -5.49e+04   -4.71e+04
x1          9.332e-08   1.49e-08      6.252      0.000    6.41e-08    1.23e-07
x2           134.4466     20.356      6.605      0.000      94.549     174.344
x3          -618.0312     23.657    -26.124      0.000    -664.400    -571.663
x4            -0.0235      0.052     -0.452      0.652      -0.125       0.078
x5            -0.1914      0.031     -6.175      0.000      -0.252      -0.131
x6            -4.7247      0.871     -5.426      0.000      -6.431      -3.018
x7            -0.1167      0.033     -3.499      0.000      -0.182      -0.051
x8             0.1904      0.009     22.261      0.000       0.174       0.207
x9            10.5782      1.488      7.108      0.000       7.661      13.495
x10            0.0845      0.016      5.383      0.000       0.054       0.115
x11         -101.8950      1.954    -52.148      0.000    -105.725     -98.065
==============================================================================
Omnibus:                   109950.424   Durbin-Watson:                   1.849
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        967817528.596
Skew:                          21.249   Prob(JB):                         0.00
Kurtosis:                     690.928   Cond. No.                     2.00e+11
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  2e+11. This might indicate that there are
strong multicollinearity or other numerical problems.

---

# Try to Drop Another Column

In [14]:
df2 = df.copy()
df2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

## Preparing Dataset

In [15]:
df2.fillna(0, inplace=True)
df2.drop(columns=['id', 'name', 'host_id', 'host_name', 'latitude', 'longitude', 'last_review'], inplace=True)
df2['neighbourhood_group_enc'] = LabelEncoder().fit_transform(df2['neighbourhood_group'])
df2['neighbourhood_enc'] = LabelEncoder().fit_transform(df2['neighbourhood'])
df2['room_type_enc'] = LabelEncoder().fit_transform(df2['room_type'])
df2.drop(columns=['neighbourhood', 'neighbourhood_group', 'room_type'], inplace=True)
df2

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group_enc,neighbourhood_enc,room_type_enc
0,149,1,9,0.21,6,365,1,108,1
1,225,1,45,0.38,2,355,2,127,0
2,150,3,0,0.00,1,365,2,94,1
3,89,1,270,4.64,1,194,1,41,0
4,80,10,9,0.10,1,0,2,61,0
...,...,...,...,...,...,...,...,...,...
48890,70,2,0,0.00,2,9,1,13,1
48891,40,4,0,0.00,2,36,1,28,1
48892,115,10,0,0.00,1,27,2,94,0
48893,55,1,0,0.00,6,2,2,95,2
48894,90,7,0,0.00,1,23,2,95,1

## Split Dataset

In [16]:
x2 = df2.drop(columns=['price'])
y2 = df2['price']

In [17]:
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.2, random_state=0)

## Testing Model

### Linear Regression, Lasso, Ridge, ElasticNet

In [18]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    model.fit(x2_train, y2_train)
    y2_pred = model.predict(x2_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y2_test, y2_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y2_test,y2_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y2_test,y2_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 224.07
MAE	 = 77.84
R2 Score = 8.78


Model	 = Lasso()
RMSE	 = 224.1
MAE	 = 77.75
R2 Score = 8.75


Model	 = Ridge()
RMSE	 = 224.07
MAE	 = 77.84
R2 Score = 8.78


Model	 = ElasticNet()
RMSE	 = 227.5
MAE	 = 83.07
R2 Score = 5.96

### Polynomial 2

In [19]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    poly_reg = make_pipeline(
        PF(2, include_bias=False),
        i
    )

    poly_reg.fit(x2_train, y2_train)
    # predict
    y_pred = poly_reg.predict(x2_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y2_test, y_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y2_test,y_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y2_test,y_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 220.99
MAE	 = 74.04
R2 Score = 11.27

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 386713912.7527677, tolerance: 228169.42523489104
  model = cd_fast.enet_coordinate_descent(

Model	 = Lasso()
RMSE	 = 221.32
MAE	 = 74.41
R2 Score = 11.0


Model	 = Ridge()
RMSE	 = 220.99
MAE	 = 74.04
R2 Score = 11.27


Model	 = ElasticNet()
RMSE	 = 223.09
MAE	 = 78.41
R2 Score = 9.58

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 102368998.38755274, tolerance: 228169.42523489104
  model = cd_fast.enet_coordinate_descent(

### Polynomial 3

In [20]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    poly_reg = make_pipeline(
        PF(3, include_bias=False),
        i
    )

    poly_reg.fit(x2_train, y2_train)
    # predict
    y_pred = poly_reg.predict(x2_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y2_test, y_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y2_test,y_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y2_test,y_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 219.79
MAE	 = 73.3
R2 Score = 12.23

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1020299823.0815179, tolerance: 228169.42523489104
  model = cd_fast.enet_coordinate_descent(
C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=4.64083e-20): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

Model	 = Lasso()
RMSE	 = 220.37
MAE	 = 74.03
R2 Score = 11.77


Model	 = Ridge()
RMSE	 = 219.79
MAE	 = 73.29
R2 Score = 12.23


Model	 = ElasticNet()
RMSE	 = 220.56
MAE	 = 74.76
R2 Score = 11.61

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1020760255.9400918, tolerance: 228169.42523489104
  model = cd_fast.enet_coordinate_descent(

### OLS for LinearModel

In [21]:
X_stat = df2.drop(columns=['price']).values
y_stat = df2['price'].values

X_stat = sm.add_constant(X_stat) # adding a constant

model = sm.OLS(y_stat, X_stat).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.077
Model:                            OLS   Adj. R-squared:                  0.077
Method:                 Least Squares   F-statistic:                     512.7
Date:                Thu, 06 Aug 2020   Prob (F-statistic):               0.00
Time:                        08:41:33   Log-Likelihood:            -3.3542e+05
No. Observations:               48895   AIC:                         6.709e+05
Df Residuals:                   48886   BIC:                         6.709e+05
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        166.4144      3.289     50.600      0.000     159.968     172.861
x1             0.0220      0.052      0.420      0.675      -0.081       0.125
x2            -0.2280      0.029     -7.794      0.000      -0.285      -0.171
x3            -5.1681      0.818     -6.316      0.000      -6.772      -3.564
x4             0.0108      0.033      0.327      0.744      -0.054       0.076
x5             0.1801      0.008     21.330      0.000       0.164       0.197
x6             9.6462      1.437      6.713      0.000       6.830      12.463
x7             0.1431      0.015      9.324      0.000       0.113       0.173
x8          -108.6866      1.935    -56.164      0.000    -112.480    -104.894
==============================================================================
Omnibus:                   109213.629   Durbin-Watson:                   1.849
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        920738233.824
Skew:                          20.916   Prob(JB):                         0.00
Kurtosis:                     673.964   Cond. No.                         650.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

---

# Try to Drop Another Column and Get Dummies from `room_type`, `neighbourhood`, and `neighbourhood_group`

## Preparing Dataset

In [22]:
df3 = df.copy()
df3.fillna(0, inplace=True)
df3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [23]:
df3.drop(columns=['id', 'name', 'host_id', 'host_name','latitude', 'longitude', 'last_review'], inplace=True)
df3.head()

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Kensington,Private room,149,1,9,0.21,6,365
1,Manhattan,Midtown,Entire home/apt,225,1,45,0.38,2,355
2,Manhattan,Harlem,Private room,150,3,0,0.00,1,365
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,4.64,1,194
4,Manhattan,East Harlem,Entire home/apt,80,10,9,0.10,1,0

In [24]:
df3 = pd.get_dummies(df3, prefix=['room_type'], columns=['room_type'])
df3 = pd.get_dummies(df3, prefix=['neighbourhood_group'], columns=['neighbourhood_group'])
df3 = pd.get_dummies(df3, prefix=['neighbourhood'], columns=['neighbourhood'])
df3

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,...,neighbourhood_Westerleigh,neighbourhood_Whitestone,neighbourhood_Williamsbridge,neighbourhood_Williamsburg,neighbourhood_Willowbrook,neighbourhood_Windsor Terrace,neighbourhood_Woodhaven,neighbourhood_Woodlawn,neighbourhood_Woodrow,neighbourhood_Woodside
0,149,1,9,0.21,6,365,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,225,1,45,0.38,2,355,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,150,3,0,0.00,1,365,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,89,1,270,4.64,1,194,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,80,10,9,0.10,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,70,2,0,0.00,2,9,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
48891,40,4,0,0.00,2,36,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
48892,115,10,0,0.00,1,27,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48893,55,1,0,0.00,6,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48894,90,7,0,0.00,1,23,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Split Dataset

In [25]:
x3 = df3.drop(columns=['price'])
y3 = df3['price']

In [26]:
x3_train, x3_test, y3_train, y3_test = train_test_split(x3, y3, test_size=0.2, random_state=0)

## Testing Model

### Linear Regression, Lasso, Ridge, ElasticNet

In [27]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    model.fit(x3_train, y3_train)
    y3_pred = model.predict(x3_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y3_test, y3_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y3_test,y3_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y3_test,y3_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 219.29
MAE	 = 71.41
R2 Score = 12.63


Model	 = Lasso()
RMSE	 = 221.11
MAE	 = 72.93
R2 Score = 11.17


Model	 = Ridge()
RMSE	 = 219.25
MAE	 = 71.37
R2 Score = 12.66


Model	 = ElasticNet()
RMSE	 = 225.3
MAE	 = 78.76
R2 Score = 7.77

### Polynomial 2 (RUNNINGNYA BERAT)

In [28]:
# model = Ridge()
# poly_reg = make_pipeline(
#     PF(2, include_bias=False),
#     model
# )

# poly_reg.fit(x3_train, y3_train)
# # predict
# y_pred = poly_reg.predict(x3_test)
# print(f'Model\t = {model}')
# print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y3_test, y_pred)), 2)}')
# print(f'MAE\t = {round(mean_absolute_error(y3_test,y_pred), 2)}')
# print(f'R2 Score = {round( r2_score(y3_test,y_pred) * 100 , 2)}')
# print('\n')

### Polynomial 3 (RUNNINGNYA BERAT)

### OLS for LinearModel

In [29]:
X_stat = df3.drop(columns=['price']).values
y_stat = df3['price'].values

X_stat = sm.add_constant(X_stat) # adding a constant

model = sm.OLS(y_stat, X_stat).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.117
Model:                            OLS   Adj. R-squared:                  0.113
Method:                 Least Squares   F-statistic:                     28.34
Date:                Thu, 06 Aug 2020   Prob (F-statistic):               0.00
Time:                        08:41:36   Log-Likelihood:            -3.3435e+05
No. Observations:               48895   AIC:                         6.692e+05
Df Residuals:                   48667   BIC:                         6.712e+05
Df Model:                         227
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         60.8533      3.494     17.416      0.000      54.005      67.702
x1            -0.0862      0.052     -1.672      0.095      -0.187       0.015
x2            -0.2335      0.029     -8.066      0.000      -0.290      -0.177
x3            -2.6862      0.821     -3.273      0.001      -4.295      -1.078
x4            -0.2160      0.036     -5.935      0.000      -0.287      -0.145
x5             0.1951      0.009     22.897      0.000       0.178       0.212
x6            96.7012      2.383     40.583      0.000      92.031     101.371
x7            -2.5913      2.383     -1.087      0.277      -7.263       2.080
x8           -33.2565      5.132     -6.480      0.000     -43.315     -23.198
x9           -21.6102      8.659     -2.496      0.013     -38.582      -4.638
x10           10.4567      5.799      1.803      0.071      -0.910      21.823
x11           80.8510      4.890     16.535      0.000      71.267      90.435
x12           -9.2412      7.107     -1.300      0.194     -23.172       4.689
x13            0.3969     15.768      0.025      0.980     -30.509      31.303
x14           -3.6599     35.488     -0.103      0.918     -73.217      65.897
x15          -78.6270    112.113     -0.701      0.483    -298.370     141.116
x16          -33.4407     51.815     -0.645      0.519    -134.999      68.117
x17           36.3021     26.302      1.380      0.168     -15.249      87.854
x18           14.5024     10.372      1.398      0.162      -5.827      34.832
x19          -56.7515     53.964     -1.052      0.293    -162.521      49.018
x20          148.7463     26.452      5.623      0.000      96.899     200.593
x21            8.8817     19.359      0.459      0.646     -29.062      46.825
x22           17.7465     90.856      0.195      0.845    -160.332     195.825
x23          -52.2397    157.424     -0.332      0.740    -360.794     256.314
x24          -18.5716     84.276     -0.220      0.826    -183.753     146.610
x25           50.0536     36.252      1.381      0.167     -21.001     121.108
x26          -24.4397     54.287     -0.450      0.653    -130.843      81.964
x27          -14.1098      6.335     -2.227      0.026     -26.527      -1.692
x28           29.3531     78.761      0.373      0.709    -125.020     183.726
x29          -12.4292     59.735     -0.208      0.835    -129.510     104.652
x30            1.7440     46.216      0.038      0.970     -88.841      92.329
x31          -48.0714     26.092     -1.842      0.065     -99.212       3.069
x32          -58.8505     70.221     -0.838      0.402    -196.484      78.783
x33           25.2680     17.443      1.449      0.147      -8.920      59.456
x34          -46.0466     19.709     -2.336      0.019     -84.676      -7.417
x35          145.9676    128.278      1.138      0.255    -105.459     397.394
x36            1.7911     30.515      0.059      0.953     -58.018      61.600
x37           -4.9935     26.098     -0.191      0.848     -56.146      46.159
x38          -37.6570     51.708     -0.728      0.466    -139.006      63.692
x39           52.9068     18.596      2.845      0.004      16.459      89.354
x40          -34.7801     28.830     -1.206      0.228     -91.287      21.727
x41          -35.2572     92.199     -0.382      0.702    -215.968     145.453
x42          -20.1156      6.867     -2.930      0.003     -33.574      -6.657
x43           -2.4197     44.106     -0.055      0.956     -88.867      84.028
x44          -44.0404     19.013     -2.316      0.021     -81.305      -6.776
x45           24.7174     15.418      1.603      0.109      -5.501      54.936
x46          -42.7231     74.460     -0.574      0.566    -188.666     103.220
x47            4.1018    112.111      0.037      0.971    -215.637     223.841
x48           27.4906      7.425      3.703      0.000      12.938      42.043
x49          -41.4949     11.945     -3.474      0.001     -64.908     -18.082
x50           64.9926     53.083      1.224      0.221     -39.052     169.037
x51          -22.0714     30.601     -0.721      0.471     -82.049      37.906
x52           -4.9495     42.940     -0.115      0.908     -89.112      79.213
x53            4.1320     49.275      0.084      0.933     -92.448     100.712
x54          -38.8715     60.147     -0.646      0.518    -156.760      79.017
x55           44.1611     10.614      4.160      0.000      23.357      64.966
x56          -23.8102    156.957     -0.152      0.879    -331.447     283.827
x57           64.2301     22.862      2.810      0.005      19.421     109.039
x58          -29.8740     51.403     -0.581      0.561    -130.624      70.876
x59            9.5805     34.566      0.277      0.782     -58.169      77.330
x60          -50.9954     47.312     -1.078      0.281    -143.728      41.737
x61           -9.2485     32.746     -0.282      0.778     -73.430      54.933
x62          -10.7529     40.303     -0.267      0.790     -89.747      68.241
x63          -19.0685     53.976     -0.353      0.724    -124.863      86.726
x64          -33.6545     28.754     -1.170      0.242     -90.013      22.704
x65          -13.6973      7.632     -1.795      0.073     -28.656       1.262
x66            3.6984     19.763      0.187      0.852     -35.036      42.433
x67           55.5656     37.274      1.491      0.136     -17.492     128.623
x68           -5.7060     14.561     -0.392      0.695     -34.246      22.834
x69          -55.2408     85.650     -0.645      0.519    -223.116     112.635
x70          -34.7333     78.759     -0.441      0.659    -189.102     119.636
x71           17.8863     24.863      0.719      0.472     -30.845      66.618
x72          -46.0290     64.137     -0.718      0.473    -171.737      79.680
x73            3.4105     17.949      0.190      0.849     -31.770      38.591
x74          -24.3778     11.196     -2.177      0.029     -46.322      -2.433
x75          -54.7517      7.436     -7.363      0.000     -69.326     -40.177
x76           -0.2012     70.706     -0.003      0.998    -138.786     138.384
x77          -48.2143     15.884     -3.035      0.002     -79.347     -17.081
x78          -20.5122      6.164     -3.328      0.001     -32.593      -8.431
x79            3.0331     62.198      0.049      0.961    -118.877     124.943
x80          -34.4583     62.180     -0.554      0.579    -156.331      87.415
x81          -35.5506     67.280     -0.528      0.597    -167.420      96.319
x82           -5.3418     16.138     -0.331      0.741     -36.972      26.288
x83            2.1511    128.998      0.017      0.987    -250.687     254.989
x84          -39.8750    100.635     -0.396      0.692    -237.121     157.371
x85           51.5162     41.825      1.232      0.218     -30.462     133.494
x86          -14.2822     64.658     -0.221      0.825    -141.013     112.449
x87            3.8442      9.460      0.406      0.684     -14.698      22.386
x88          -27.6594     10.292     -2.687      0.007     -47.832      -7.487
x89          106.8422     24.757      4.316      0.000      58.318     155.366
x90          -15.0546     24.864     -0.605      0.545     -63.788      33.679
x91            2.7474     12.966      0.212      0.832     -22.666      28.161
x92           -5.9331     29.491     -0.201      0.841     -63.735      51.869
x93           16.4068     19.861      0.826      0.409     -22.522      55.335
x94           11.8053     11.279      1.047      0.295     -10.302      33.912
x95          -49.1870     30.308     -1.623      0.105    -108.592      10.218
x96          572.0910    221.821      2.579      0.010     137.319    1006.863
x97           -4.5076     39.883     -0.113      0.910     -82.679      73.664
x98          -22.8449     31.044     -0.736      0.462     -83.692      38.002
x99           23.6127     15.013      1.573      0.116      -5.814      53.039
x100           3.6093     12.418      0.291      0.771     -20.730      27.949
x101         -73.8480    128.992     -0.573      0.567    -326.674     178.978
x102        -102.3913     92.189     -1.111      0.267    -283.083      78.300
x103         -38.4635     27.375     -1.405      0.160     -92.119      15.192
x104         -26.5600     72.407     -0.367      0.714    -168.478     115.358
x105          13.4051      8.425      1.591      0.112      -3.109      29.919
x106          42.4377     11.614      3.654      0.000      19.674      65.201
x107          -6.6396     85.651     -0.078      0.938    -174.517     161.237
x108         -68.3795      5.509    -12.413      0.000     -79.177     -57.582
x109          -6.7117      6.052     -1.109      0.267     -18.573       5.149
x110          -5.1328     43.690     -0.117      0.906     -90.766      80.500
x111          -7.8148     59.725     -0.131      0.896    -124.877     109.247
x112          55.5255    111.152      0.500      0.617    -162.334     273.385
x113         -19.5917     50.132     -0.391      0.696    -117.851      78.667
x114         -95.1088    157.418     -0.604      0.546    -403.650     213.432
x115         -56.5940    129.003     -0.439      0.661    -309.442     196.254
x116         -31.0753     53.089     -0.585      0.558    -135.131      72.980
x117        -102.1787     14.245     -7.173      0.000    -130.099     -74.258
x118         -13.9844     17.808     -0.785      0.432     -48.888      20.919
x119          -5.6871     16.306     -0.349      0.727     -37.647      26.273
x120          35.5125     51.409      0.691      0.490     -65.250     136.275
x121          28.8036     78.770      0.366      0.715    -125.586     183.193
x122         -25.6327     17.529     -1.462      0.144     -59.989       8.724
x123         -15.5098     39.881     -0.389      0.697     -93.676      62.657
x124         -19.0829     44.106     -0.433      0.665    -105.532      67.366
x125          -4.6808     28.137     -0.166      0.868     -59.829      50.467
x126         -21.7824     10.689     -2.038      0.042     -42.733      -0.832
x127         -25.8716     52.784     -0.490      0.624    -129.329      77.586
x128         -29.8686    157.417     -0.190      0.850    -338.408     278.671
x129          12.2788     20.228      0.607      0.544     -27.368      51.926
x130          -1.2463     99.476     -0.013      0.990    -196.221     193.728
x131          21.2390     12.017      1.767      0.077      -2.315      44.792
x132           4.2635     29.702      0.144      0.886     -53.952      62.479
x133         -15.6242      8.051     -1.941      0.052     -31.405       0.156
x134         -63.7190     78.470     -0.812      0.417    -217.521      90.083
x135        -108.2521     63.382     -1.708      0.088    -232.482      15.978
x136         -26.7214     80.402     -0.332      0.740    -184.310     130.867
x137         -30.0831     22.356     -1.346      0.178     -73.901      13.735
x138         -25.7126     70.706     -0.364      0.716    -164.297     112.872
x139         -34.4834     40.499     -0.851      0.395    -113.863      44.896
x140         -92.0536     92.193     -0.998      0.318    -272.753      88.646
x141          52.2301      6.574      7.944      0.000      39.344      65.116
x142         -43.7114     21.838     -2.002      0.045     -86.514      -0.909
x143         -34.6852    110.861     -0.313      0.754    -251.974     182.603
x144         -69.5768     12.299     -5.657      0.000     -93.683     -45.471
x145          -9.5930     54.568     -0.176      0.860    -116.548      97.362
x146          -7.8938     57.989     -0.136      0.892    -121.552     105.765
x147           2.9323     53.084      0.055      0.956    -101.114     106.978
x148          -4.8700     30.149     -0.162      0.872     -63.962      54.223
x149          -0.5512     90.955     -0.006      0.995    -178.823     177.721
x150         -29.2852     50.448     -0.581      0.562    -128.163      69.593
x151         -16.1166     10.643     -1.514      0.130     -36.976       4.743
x152           9.2942     59.413      0.156      0.876    -107.157     125.745
x153          89.5538    128.278      0.698      0.485    -161.873     340.981
x154          12.3150    100.638      0.122      0.903    -184.937     209.567
x155        -100.6491    221.818     -0.454      0.650    -535.415     334.117
x156         -65.1596    100.635     -0.647      0.517    -262.406     132.087
x157         -31.2380     80.405     -0.389      0.698    -188.832     126.357
x158          53.4273     25.071      2.131      0.033       4.288     102.566
x159          22.0245     14.213      1.550      0.121      -5.834      49.883
x160          -8.7090     70.726     -0.123      0.902    -147.332     129.914
x161          -2.5594     40.914     -0.063      0.950     -82.752      77.633
x162         -51.0146    100.634     -0.507      0.612    -248.259     146.230
x163          14.9487    111.224      0.134      0.893    -203.051     232.949
x164         -34.8045     29.089     -1.196      0.232     -91.819      22.210
x165          28.6151     11.138      2.569      0.010       6.785      50.445
x166          -3.5400     36.735     -0.096      0.923     -75.541      68.461
x167         -26.7291     54.575     -0.490      0.624    -133.697      80.239
x168         -14.7543     42.942     -0.344      0.731     -98.920      69.412
x169          -0.2919     34.080     -0.009      0.993     -67.090      66.506
x170         -30.3254     76.063     -0.399      0.690    -179.411     118.760
x171         259.3141    112.112      2.313      0.021      39.573     479.055
x172          40.5666     12.823      3.164      0.002      15.433      65.700
x173         -18.3497     10.887     -1.685      0.092     -39.689       2.989
x174         -34.9672     29.548     -1.183      0.237     -92.882      22.948
x175         187.0271     54.128      3.455      0.001      80.936     293.118
x176           0.9713     25.449      0.038      0.970     -48.909      50.852
x177         -15.9475     22.734     -0.701      0.483     -60.506      28.611
x178         -18.3328     24.002     -0.764      0.445     -65.377      28.711
x179        -112.6794    221.817     -0.508      0.611    -547.443     322.084
x180         -15.3329     13.009     -1.179      0.239     -40.831      10.165
x181         331.9658     67.474      4.920      0.000     199.715     464.216
x182         -12.9046     30.524     -0.423      0.672     -72.732      46.923
x183         -56.3584     25.235     -2.233      0.026    -105.819      -6.898
x184         -34.0788     85.669     -0.398      0.691    -201.990     133.833
x185         -20.3679     29.779     -0.684      0.494     -78.735      37.999
x186         -84.5434    221.814     -0.381      0.703    -519.302     350.215
x187           0.9954     62.192      0.016      0.987    -120.902     122.892
x188         337.0213     83.862      4.019      0.000     172.652     501.391
x189         -17.1856     18.068     -0.951      0.342     -52.598      18.227
x190          21.9594     85.651      0.256      0.798    -145.919     189.837
x191         -30.1475    157.432     -0.191      0.848    -338.716     278.421
x192          68.2135     12.095      5.640      0.000      44.508      91.919
x193         -29.6298     57.991     -0.511      0.609    -143.293      84.033
x194          -5.5812     80.407     -0.069      0.945    -163.179     152.017
x195         -18.8866     35.842     -0.527      0.598     -89.138      51.364
x196           7.6456     14.136      0.541      0.589     -20.061      35.352
x197          -4.5711     25.183     -0.182      0.856     -53.930      44.788
x198           1.4457    111.204      0.013      0.990    -216.515     219.406
x199         -12.8040     26.463     -0.484      0.629     -64.672      39.064
x200         -18.7965     37.095     -0.507      0.612     -91.504      53.911
x201         -23.4339     46.559     -0.503      0.615    -114.690      67.822
x202          -9.1609     36.213     -0.253      0.800     -80.139      61.817
x203         -13.1271     13.725     -0.956      0.339     -40.027      13.773
x204         -13.4829     12.355     -1.091      0.275     -37.698      10.732
x205          35.3867     13.507      2.620      0.009       8.912      61.861
x206         -11.5382     46.216     -0.250      0.803    -102.122      79.046
x207          22.6979    112.113      0.202      0.840    -197.045     242.441
x208         -39.0270     39.013     -1.000      0.317    -115.493      37.439
x209         -29.6034     85.654     -0.346      0.730    -197.486     138.280
x210         -21.3732     67.478     -0.317      0.751    -153.631     110.884
x211         260.9669     16.872     15.467      0.000     227.898     294.036
x212         -51.6992     26.084     -1.982      0.047    -102.824      -0.574
x213           5.9738     84.282      0.071      0.943    -159.220     171.167
x214          -3.1992     49.276     -0.065      0.948     -99.780      93.382
x215         -34.5706      6.221     -5.557      0.000     -46.763     -22.378
x216          -1.1040      6.026     -0.183      0.855     -12.916      10.708
x217          19.7920     67.489      0.293      0.769    -112.487     152.071
x218          43.9791     38.337      1.147      0.251     -31.162     119.120
x219         -13.1257     32.746     -0.401      0.689     -77.308      51.057
x220         -92.5179      8.112    -11.405      0.000    -108.418     -76.618
x221         -46.2535     55.435     -0.834      0.404    -154.907      62.400
x222          -9.7748    156.947     -0.062      0.950    -317.392     297.842
x223          36.2161      8.650      4.187      0.000      19.262      53.170
x224          22.7069     70.702      0.321      0.748    -115.870     161.284
x225         -54.8633    157.416     -0.349      0.727    -363.400     253.673
x226           9.1700     67.275      0.136      0.892    -122.691     141.030
x227         -18.3695     36.303     -0.506      0.613     -89.524      52.785
x228          21.1874      6.288      3.370      0.001       8.863      33.512
x229          27.5983    221.818      0.124      0.901    -407.168     462.365
x230          -8.2657     18.425     -0.449      0.654     -44.378      27.847
x231         -29.4872     24.735     -1.192      0.233     -77.967      18.993
x232         -11.8996     67.479     -0.176      0.860    -144.158     120.359
x233         542.8684    221.818      2.447      0.014     108.103     977.634
x234          -2.4529     16.207     -0.151      0.880     -34.220      29.314
==============================================================================
Omnibus:                   111165.653   Durbin-Watson:                   1.848
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1053923566.395
Skew:                          21.806   Prob(JB):                         0.00
Kurtosis:                     720.923   Cond. No.                     1.58e+18

---

# Try to Handling Outlier in `price` Column (Currently Best)

## Preparing Dataset

In [30]:
df4 = df.copy()
df4.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [31]:
df4.drop(columns=['id', 'name', 'host_id', 'host_name','last_review'], inplace=True)
df4.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0

In [32]:
find_outlier(df4['price']).min()

335

In [33]:
df4 = df4[df4['price'] < 335]
df4.fillna(0, inplace=True)
df4 # Berkurang 3000 row

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...
48890,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,0.00,2,9
48891,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,0.00,2,36
48892,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,0.00,1,27
48893,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,0.00,6,2
48894,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,0.00,1,23

In [34]:
df4['neighbourhood_group_enc'] = LabelEncoder().fit_transform(df4['neighbourhood_group'])
df4['neighbourhood_enc'] = LabelEncoder().fit_transform(df4['neighbourhood'])
df4['room_type_enc'] = LabelEncoder().fit_transform(df4['room_type'])
df4 = df4.drop(columns=['neighbourhood', 'neighbourhood_group', 'room_type'])
df4

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group_enc,neighbourhood_enc,room_type_enc
0,40.64749,-73.97237,149,1,9,0.21,6,365,1,107,1
1,40.75362,-73.98377,225,1,45,0.38,2,355,2,126,0
2,40.80902,-73.94190,150,3,0,0.00,1,365,2,93,1
3,40.68514,-73.95976,89,1,270,4.64,1,194,1,41,0
4,40.79851,-73.94399,80,10,9,0.10,1,0,2,61,0
...,...,...,...,...,...,...,...,...,...,...,...
48890,40.67853,-73.94995,70,2,0,0.00,2,9,1,13,1
48891,40.70184,-73.93317,40,4,0,0.00,2,36,1,28,1
48892,40.81475,-73.94867,115,10,0,0.00,1,27,2,93,0
48893,40.75751,-73.99112,55,1,0,0.00,6,2,2,94,2
48894,40.76404,-73.98933,90,7,0,0.00,1,23,2,94,1

## Split Dataset

In [35]:
x4 = df4.drop(columns=['price'])
y4 = df4['price']

In [36]:
x4_train, x4_test, y4_train, y4_test = train_test_split(x4, y4, test_size=0.2, random_state=0)

## Testing Model

### Linear Regression, Lasso, Ridge, ElasticNet

In [37]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    model.fit(x4_train, y4_train)
    y4_pred = model.predict(x4_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y4_test, y4_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y4_test,y4_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y4_test,y4_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 50.65
MAE	 = 37.98
R2 Score = 44.86


Model	 = Lasso()
RMSE	 = 52.81
MAE	 = 40.37
R2 Score = 40.08


Model	 = Ridge()
RMSE	 = 50.65
MAE	 = 37.98
R2 Score = 44.87


Model	 = ElasticNet()
RMSE	 = 58.88
MAE	 = 46.49
R2 Score = 25.5

### Polynomial 2

In [38]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    poly_reg = make_pipeline(
        PF(2, include_bias=False),
        i
    )

    poly_reg.fit(x4_train, y4_train)
    # predict
    y_pred = poly_reg.predict(x4_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y4_test, y_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y4_test,y_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y4_test,y_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 47.37
MAE	 = 34.66
R2 Score = 51.78

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 39888165.55427524, tolerance: 17054.097599902012
  model = cd_fast.enet_coordinate_descent(

Model	 = Lasso()
RMSE	 = 49.33
MAE	 = 36.45
R2 Score = 47.69


Model	 = Ridge()
RMSE	 = 48.48
MAE	 = 35.65
R2 Score = 49.5


Model	 = ElasticNet()
RMSE	 = 49.86
MAE	 = 37.11
R2 Score = 46.58

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 43153618.390317604, tolerance: 17054.097599902012
  model = cd_fast.enet_coordinate_descent(

### Polynomial 3

In [39]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    poly_reg = make_pipeline(
        PF(3, include_bias=False),
        i
    )

    poly_reg.fit(x4_train, y4_train)
    # predict
    y_pred = poly_reg.predict(x4_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y4_test, y_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y4_test,y_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y4_test,y_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 46.3
MAE	 = 33.27
R2 Score = 53.94

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 41458875.937289126, tolerance: 17054.097599902012
  model = cd_fast.enet_coordinate_descent(

Model	 = Lasso()
RMSE	 = 47.78
MAE	 = 35.09
R2 Score = 50.94

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=3.54033e-20): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

Model	 = Ridge()
RMSE	 = 46.63
MAE	 = 33.61
R2 Score = 53.27


Model	 = ElasticNet()
RMSE	 = 47.92
MAE	 = 35.22
R2 Score = 50.66

C:\Users\defaultuser1\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 41570248.21789417, tolerance: 17054.097599902012
  model = cd_fast.enet_coordinate_descent(

### OLS for LinearModel

In [40]:
X_stat = df4.drop(columns=['price']).values
y_stat = df4['price'].values

X_stat = sm.add_constant(X_stat) # adding a constant

model = sm.OLS(y_stat, X_stat).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.448
Model:                            OLS   Adj. R-squared:                  0.448
Method:                 Least Squares   F-statistic:                     3724.
Date:                Thu, 06 Aug 2020   Prob (F-statistic):               0.00
Time:                        08:42:02   Log-Likelihood:            -2.4540e+05
No. Observations:               45923   AIC:                         4.908e+05
Df Residuals:                   45912   BIC:                         4.909e+05
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2.752e+04    452.577    -60.816      0.000   -2.84e+04   -2.66e+04
x1            84.8256      4.573     18.550      0.000      75.863      93.789
x2          -327.3477      5.345    -61.246      0.000    -337.824    -316.872
x3            -0.1984      0.012    -16.149      0.000      -0.222      -0.174
x4            -0.0518      0.007     -7.896      0.000      -0.065      -0.039
x5            -0.1842      0.186     -0.993      0.321      -0.548       0.180
x6             0.1437      0.008     17.896      0.000       0.128       0.159
x7             0.0584      0.002     29.917      0.000       0.055       0.062
x8             5.1302      0.333     15.392      0.000       4.477       5.783
x9             0.0535      0.004     14.921      0.000       0.046       0.061
x10          -70.8657      0.443   -160.084      0.000     -71.733     -69.998
==============================================================================
Omnibus:                     6937.195   Durbin-Watson:                   1.926
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12383.644
Skew:                           0.980   Prob(JB):                         0.00
Kurtosis:                       4.621   Cond. No.                     3.87e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.87e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

---

# Try to Drop Another Column and Get Dummies from `room_type`, `neighbourhood`, and `neighbourhood_group` and also Try to Handling Outlier in `price` Column

## Preparing Dataset

In [67]:
df5 = df.copy()
df5.drop(columns=['id', 'name', 'host_id', 'host_name','latitude', 'longitude', 'last_review'], inplace=True)
df5.fillna(0, inplace=True)
df5 = df5[df5['price'] < 335]
df5 = pd.get_dummies(df5, prefix=['room_type'], columns=['room_type'])
df5 = pd.get_dummies(df5, prefix=['neighbourhood_group'], columns=['neighbourhood_group'])
df5 = pd.get_dummies(df5, prefix=['neighbourhood'], columns=['neighbourhood'])
df5

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,...,neighbourhood_Westchester Square,neighbourhood_Westerleigh,neighbourhood_Whitestone,neighbourhood_Williamsbridge,neighbourhood_Williamsburg,neighbourhood_Willowbrook,neighbourhood_Windsor Terrace,neighbourhood_Woodhaven,neighbourhood_Woodlawn,neighbourhood_Woodside
0,149,1,9,0.21,6,365,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,225,1,45,0.38,2,355,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,150,3,0,0.00,1,365,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,89,1,270,4.64,1,194,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,80,10,9,0.10,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,70,2,0,0.00,2,9,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
48891,40,4,0,0.00,2,36,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
48892,115,10,0,0.00,1,27,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48893,55,1,0,0.00,6,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48894,90,7,0,0.00,1,23,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Split Dataset

In [68]:
x5 = df5.drop(columns=['price'])
y5 = df5['price']

x5_train, x5_test, y5_train, y5_test = train_test_split(x5, y5, test_size=0.2, random_state=0)

## Testing Model

### Linear Regression, Lasso, Ridge, ElasticNet

In [69]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    model.fit(x5_train, y5_train)
    y5_pred = model.predict(x5_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y5_test, y5_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y5_test,y5_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y5_test,y5_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 19612316.8
MAE	 = 346167.79
R2 Score = -8266149618402.91


Model	 = Lasso()
RMSE	 = 49.91
MAE	 = 37.17
R2 Score = 46.47


Model	 = Ridge()
RMSE	 = 47.23
MAE	 = 34.64
R2 Score = 52.06


Model	 = ElasticNet()
RMSE	 = 55.72
MAE	 = 43.31
R2 Score = 33.29

### OLS for LinearModel

In [66]:
X_stat = df5.drop(columns=['price']).values
y_stat = df5['price'].values

X_stat = sm.add_constant(X_stat) # adding a constant

model = sm.OLS(y_stat, X_stat).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.531
Model:                            OLS   Adj. R-squared:                  0.529
Method:                 Least Squares   F-statistic:                     228.1
Date:                Thu, 06 Aug 2020   Prob (F-statistic):               0.00
Time:                        08:58:43   Log-Likelihood:            -2.4164e+05
No. Observations:               45923   AIC:                         4.837e+05
Df Residuals:                   45695   BIC:                         4.857e+05
Df Model:                         227
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -1.93e+04   1816.581    -10.622      0.000   -2.29e+04   -1.57e+04
x1           -99.6008     39.522     -2.520      0.012    -177.064     -22.137
x2          -457.2153     29.934    -15.274      0.000    -515.886    -398.545
x3            -0.2291      0.011    -20.097      0.000      -0.251      -0.207
x4            -0.0487      0.006     -7.980      0.000      -0.061      -0.037
x5            -0.0116      0.175     -0.067      0.947      -0.354       0.330
x6             0.0607      0.008      7.382      0.000       0.045       0.077
x7             0.0628      0.002     33.971      0.000       0.059       0.066
x8         -6376.1260    605.533    -10.530      0.000   -7562.980   -5189.272
x9         -6448.0978    605.529    -10.649      0.000   -7634.944   -5261.252
x10        -6471.0513    605.521    -10.687      0.000   -7657.882   -5284.221
x11        -3840.1721    365.769    -10.499      0.000   -4557.085   -3123.260
x12        -3876.2481    363.079    -10.676      0.000   -4587.889   -3164.607
x13        -3798.7328    362.174    -10.489      0.000   -4508.599   -3088.867
x14        -3817.4384    361.318    -10.565      0.000   -4525.628   -3109.249
x15        -3962.6837    364.378    -10.875      0.000   -4676.871   -3248.496
x16          -70.8509     10.602     -6.683      0.000     -91.632     -50.070
x17         -162.2900     25.045     -6.480      0.000    -211.379    -113.201
x18          -76.5934     13.345     -5.739      0.000    -102.751     -50.436
x19          -53.0696      7.378     -7.193      0.000     -67.530     -38.610
x20         -114.0201     11.192    -10.187      0.000    -135.957     -92.083
x21         -131.6751     13.619     -9.669      0.000    -158.368    -104.982
x22         -125.8082     12.795     -9.833      0.000    -150.886    -100.730
x23         -124.8838      9.677    -12.905      0.000    -143.851    -105.917
x24          -13.7472     20.675     -0.665      0.506     -54.271      26.777
x25         -118.8257     33.570     -3.540      0.000    -184.624     -53.027
x26          -70.2390     18.961     -3.704      0.000    -107.402     -33.076
x27          -46.3038     10.790     -4.291      0.000     -67.453     -25.155
x28          -65.2548     11.871     -5.497      0.000     -88.523     -41.987
x29          -74.7149      8.084     -9.242      0.000     -90.559     -58.870
x30          -70.3344     18.560     -3.790      0.000    -106.712     -33.957
x31          -20.1098     13.746     -1.463      0.143     -47.052       6.832
x32          -70.0195     12.443     -5.627      0.000     -94.408     -45.631
x33         -125.1856      9.299    -13.462      0.000    -143.413    -106.959
x34          -83.8844     15.546     -5.396      0.000    -114.354     -53.415
x35          -60.8972      9.696     -6.280      0.000     -79.902     -41.892
x36         -122.7121      9.076    -13.520      0.000    -140.501    -104.923
x37           33.9877     27.459      1.238      0.216     -19.832      87.807
x38          -79.6597      9.564     -8.329      0.000     -98.405     -60.915
x39         -102.6187      8.231    -12.467      0.000    -118.752     -86.485
x40          -99.4180     13.037     -7.626      0.000    -124.971     -73.865
x41          -60.8122     10.202     -5.961      0.000     -80.808     -40.816
x42          -76.4110      9.028     -8.464      0.000     -94.106     -58.717
x43         -119.6966     21.534     -5.558      0.000    -161.904     -77.489
x44          -66.9412      8.006     -8.361      0.000     -82.634     -51.249
x45          -36.2980     10.374     -3.499      0.000     -56.631     -15.965
x46          -75.3492      6.999    -10.766      0.000     -89.067     -61.631
x47          -71.6103      9.645     -7.424      0.000     -90.515     -52.705
x48          -93.1921     16.551     -5.631      0.000    -125.632     -60.752
x49          -43.4643     24.982     -1.740      0.082     -92.430       5.501
x50         -108.5971     11.676     -9.301      0.000    -131.482     -85.712
x51         -136.9715     11.131    -12.306      0.000    -158.788    -115.156
x52          -36.4637     12.900     -2.827      0.005     -61.747     -11.180
x53         -130.2666     12.901    -10.097      0.000    -155.553    -104.980
x54          -90.4781     12.172     -7.433      0.000    -114.335     -66.621
x55          -68.6784     12.389     -5.544      0.000     -92.961     -44.396
x56          -76.1706     15.059     -5.058      0.000    -105.686     -46.655
x57          -65.7005      8.819     -7.450      0.000     -82.987     -48.414
x58          -43.7805     33.163     -1.320      0.187    -108.780      21.219
x59          -62.8600     10.480     -5.998      0.000     -83.401     -42.319
x60         -111.0719     14.723     -7.544      0.000    -139.929     -82.215
x61          -85.7391     11.850     -7.235      0.000    -108.965     -62.513
x62          -86.5389     12.683     -6.823      0.000    -111.397     -61.681
x63          -99.9891     10.730     -9.319      0.000    -121.020     -78.959
x64          -99.2375     11.693     -8.487      0.000    -122.155     -76.320
x65         -106.7143     13.444     -7.937      0.000    -133.066     -80.363
x66         -115.7256     10.862    -10.654      0.000    -137.015     -94.436
x67          -77.4753      7.863     -9.853      0.000     -92.887     -62.064
x68          -65.0980      7.937     -8.202      0.000     -80.654     -49.541
x69          -28.6820     12.504     -2.294      0.022     -53.190      -4.174
x70         -114.8540     11.446    -10.035      0.000    -137.288     -92.420
x71          -98.7831     19.309     -5.116      0.000    -136.629     -60.937
x72          -48.6083     17.800     -2.731      0.006     -83.497     -13.720
x73          -55.0556     10.512     -5.238      0.000     -75.659     -34.453
x74         -126.4737     15.608     -8.103      0.000    -157.065     -95.882
x75         -106.1692     10.674     -9.947      0.000    -127.090     -85.248
x76          -88.1995      7.299    -12.084      0.000    -102.505     -73.894
x77         -122.5089     11.704    -10.467      0.000    -145.449     -99.569
x78          -78.9626     16.420     -4.809      0.000    -111.147     -46.778
x79          -64.8566      7.106     -9.127      0.000     -78.785     -50.929
x80         -121.7503     10.879    -11.192      0.000    -143.073    -100.428
x81          -37.6793     15.347     -2.455      0.014     -67.759      -7.599
x82          -66.2021     15.025     -4.406      0.000     -95.651     -36.753
x83          -73.0768     14.523     -5.032      0.000    -101.542     -44.611
x84         -104.9051      9.969    -10.523      0.000    -124.444     -85.366
x85          -74.1216     27.994     -2.648      0.008    -128.991     -19.252
x86         -106.7163     22.745     -4.692      0.000    -151.296     -62.137
x87          -65.7993      9.974     -6.597      0.000     -85.348     -46.250
x88          -87.4675     16.266     -5.377      0.000    -119.349     -55.586
x89         -125.7888     11.268    -11.163      0.000    -147.875    -103.703
x90          -98.8155      7.633    -12.946      0.000    -113.776     -83.855
x91          -97.7447     12.800     -7.636      0.000    -122.833     -72.657
x92          -81.1750      8.103    -10.018      0.000     -97.056     -65.294
x93          -77.1837      8.911     -8.662      0.000     -94.649     -59.719
x94          -83.5488     10.330     -8.088      0.000    -103.796     -63.302
x95          -86.0759      9.162     -9.395      0.000    -104.033     -68.119
x96          -64.2611      9.118     -7.048      0.000     -82.133     -46.389
x97         -133.7506     10.760    -12.431      0.000    -154.839    -112.662
x98          -64.8662     11.172     -5.806      0.000     -86.764     -42.968
x99         -119.6292     10.876    -11.000      0.000    -140.946     -98.313
x100         -69.6112      9.339     -7.454      0.000     -87.917     -51.306
x101        -114.9402     11.328    -10.147      0.000    -137.143     -92.737
x102        -144.5760     28.654     -5.046      0.000    -200.738     -88.414
x103        -138.8621     20.694     -6.710      0.000    -179.423     -98.301
x104        -110.0536      8.881    -12.392      0.000    -127.461     -92.647
x105         -96.3488     17.182     -5.608      0.000    -130.026     -62.672
x106         -53.8107      9.597     -5.607      0.000     -72.620     -35.001
x107        -105.4355     11.550     -9.128      0.000    -128.075     -82.796
x108         -36.0165     19.690     -1.829      0.067     -74.609       2.576
x109        -129.6746     12.361    -10.491      0.000    -153.903    -105.447
x110        -112.5004     11.884     -9.467      0.000    -135.792     -89.208
x111        -104.4421     12.458     -8.383      0.000    -128.861     -80.024
x112         -49.9314     13.817     -3.614      0.000     -77.014     -22.849
x113          13.5452     23.887      0.567      0.571     -33.273      60.364
x114         -88.3875     12.441     -7.104      0.000    -112.772     -64.003
x115        -144.2744     34.298     -4.206      0.000    -211.500     -77.049
x116        -132.2683     28.147     -4.699      0.000    -187.437     -77.099
x117         -99.0464     13.093     -7.565      0.000    -124.709     -73.384
x118        -133.1498     13.745     -9.687      0.000    -160.091    -106.209
x119        -107.1239     10.429    -10.271      0.000    -127.566     -86.682
x120         -71.5515      6.778    -10.557      0.000     -84.836     -58.267
x121         -54.2364     13.128     -4.131      0.000     -79.968     -28.505
x122         -28.8126     17.668     -1.631      0.103     -63.443       5.818
x123        -100.5595      8.462    -11.883      0.000    -117.146     -83.973
x124         -79.5344     11.113     -7.157      0.000    -101.316     -57.753
x125         -88.5688     11.999     -7.381      0.000    -112.087     -65.050
x126         -85.3222     10.619     -8.035      0.000    -106.135     -64.509
x127        -124.2159     11.266    -11.026      0.000    -146.297    -102.135
x128         -55.4588     11.840     -4.684      0.000     -78.666     -32.252
x129         -73.6083     33.658     -2.187      0.029    -139.578      -7.639
x130        -135.2199     11.837    -11.423      0.000    -158.421    -112.019
x131         -28.7385     21.818     -1.317      0.188     -71.503      14.026
x132        -109.9126     11.427     -9.619      0.000    -132.309     -87.516
x133         -92.6735      9.846     -9.412      0.000    -111.972     -73.375
x134        -128.6631     10.867    -11.840      0.000    -149.962    -107.364
x135        -107.7454     17.220     -6.257      0.000    -141.497     -73.993
x136        -126.7243     18.847     -6.724      0.000    -163.665     -89.784
x137         -96.3972     19.732     -4.885      0.000    -135.072     -57.723
x138        -124.9143     10.719    -11.653      0.000    -145.925    -103.904
x139        -110.7111     16.659     -6.646      0.000    -143.363     -78.060
x140        -111.9166     12.181     -9.188      0.000    -135.791     -88.042
x141        -112.3141     20.511     -5.476      0.000    -152.517     -72.112
x142         -97.7210     11.347     -8.612      0.000    -119.961     -75.481
x143        -104.2392      8.139    -12.807      0.000    -120.192     -88.287
x144         -39.9224     23.571     -1.694      0.090     -86.121       6.277
x145        -134.5178     12.622    -10.657      0.000    -159.258    -109.778
x146         -92.9114     14.162     -6.560      0.000    -120.670     -65.153
x147         -70.1946     13.955     -5.030      0.000     -97.547     -42.843
x148         -81.1280     13.493     -6.013      0.000    -107.574     -54.682
x149        -106.3835     10.113    -10.520      0.000    -126.205     -86.562
x150        -102.5640     20.602     -4.978      0.000    -142.944     -62.184
x151        -102.2978     13.307     -7.688      0.000    -128.379     -76.217
x152        -110.6357     11.322     -9.772      0.000    -132.826     -88.445
x153         -49.6418     15.266     -3.252      0.001     -79.563     -19.720
x154         -13.0227     33.167     -0.393      0.695     -78.030      51.985
x155         -40.1985     22.831     -1.761      0.078     -84.948       4.551
x156        -155.5347     46.526     -3.343      0.001    -246.727     -64.343
x157        -115.4968     22.134     -5.218      0.000    -158.879     -72.114
x158        -119.9042     19.118     -6.272      0.000    -157.376     -82.432
x159         -94.7581     12.642     -7.496      0.000    -119.536     -69.980
x160        -110.1937     11.428     -9.642      0.000    -132.593     -87.794
x161         -71.3079     17.505     -4.074      0.000    -105.619     -36.997
x162         -69.7941     11.849     -5.890      0.000     -93.019     -46.569
x163        -101.4216     22.251     -4.558      0.000    -145.034     -57.809
x164         -46.0506     24.422     -1.886      0.059     -93.919       1.817
x165        -111.2997      9.445    -11.784      0.000    -129.813     -92.787
x166         -61.9998      8.811     -7.037      0.000     -79.270     -44.730
x167         -71.6135     10.281     -6.966      0.000     -91.764     -51.463
x168         -58.9133     13.043     -4.517      0.000     -84.479     -33.348
x169         -76.2335     11.543     -6.604      0.000     -98.858     -53.609
x170         -97.3840     10.697     -9.104      0.000    -118.351     -76.417
x171         -84.6479     18.653     -4.538      0.000    -121.208     -48.087
x172        -110.1160     28.354     -3.884      0.000    -165.690     -54.542
x173         -66.0795      8.750     -7.552      0.000     -83.230     -48.929
x174         -91.2406      7.883    -11.574      0.000    -106.691     -75.790
x175         -63.4066      8.392     -7.556      0.000     -79.855     -46.958
x176        -106.4923     15.067     -7.068      0.000    -136.024     -76.961
x177         -99.5111     10.796     -9.218      0.000    -120.671     -78.351
x178        -101.2370      9.847    -10.281      0.000    -120.538     -81.936
x179         -88.9395      8.667    -10.262      0.000    -105.927     -71.951
x180        -152.1101     46.565     -3.267      0.001    -243.379     -60.842
x181        -126.3720      9.666    -13.074      0.000    -145.317    -107.427
x182         -75.8791     18.811     -4.034      0.000    -112.748     -39.010
x183         -82.6650      8.317     -9.939      0.000     -98.966     -66.364
x184        -130.6066     12.026    -10.861      0.000    -154.177    -107.036
x185         -63.9074     19.457     -3.285      0.001    -102.042     -25.772
x186         -57.6481      7.348     -7.845      0.000     -72.051     -43.246
x187        -184.3683     46.951     -3.927      0.000    -276.394     -92.343
x188         -59.6334     14.283     -4.175      0.000     -87.628     -31.639
x189         -98.8438     21.851     -4.523      0.000    -141.673     -56.015
x190         -95.8366      7.232    -13.251      0.000    -110.012     -81.661
x191          -7.6981     19.366     -0.398      0.691     -45.655      30.259
x192         -95.6941     33.731     -2.837      0.005    -161.808     -29.580
x193        -116.8671     11.595    -10.079      0.000    -139.593     -94.141
x194        -101.5950     13.827     -7.347      0.000    -128.697     -74.493
x195         -52.2258     18.377     -2.842      0.004     -88.245     -16.207
x196         -88.8667      9.599     -9.258      0.000    -107.681     -70.052
x197         -71.3443      8.926     -7.993      0.000     -88.840     -53.849
x198         -56.5089      7.100     -7.960      0.000     -70.424     -42.594
x199        -108.6439     28.130     -3.862      0.000    -163.780     -53.508
x200         -58.3821      7.841     -7.446      0.000     -73.750     -43.014
x201         -65.0290     12.040     -5.401      0.000     -88.627     -41.431
x202         -67.6427     13.189     -5.129      0.000     -93.493     -41.793
x203        -129.7275     13.239     -9.799      0.000    -155.677    -103.778
x204        -126.1404     10.857    -11.619      0.000    -147.420    -104.861
x205        -109.4508      8.965    -12.209      0.000    -127.022     -91.879
x206         -98.1266     12.002     -8.176      0.000    -121.650     -74.603
x207         -53.8812     11.093     -4.857      0.000     -75.623     -32.139
x208        -107.2626     28.038     -3.826      0.000    -162.218     -52.308
x209         -79.7971     12.101     -6.594      0.000    -103.515     -56.079
x210        -124.6610     20.671     -6.031      0.000    -165.177     -84.145
x211        -102.5605     15.984     -6.417      0.000    -133.889     -71.232
x212         -85.6736     12.082     -7.091      0.000    -109.355     -61.992
x213        -136.8221     12.089    -11.318      0.000    -160.516    -113.128
x214         -80.6889     19.896     -4.056      0.000    -119.685     -41.693
x215         -92.5250     13.333     -6.940      0.000    -118.657     -66.393
x216        -115.3617     11.287    -10.221      0.000    -137.485     -93.239
x217        -114.8908     12.139     -9.465      0.000    -138.683     -91.098
x218         -66.7463     16.299     -4.095      0.000     -98.692     -34.801
x219         -34.1158     12.473     -2.735      0.006     -58.563      -9.669
x220         -60.8016     10.694     -5.685      0.000     -81.763     -39.840
x221        -136.8903     13.105    -10.445      0.000    -162.577    -111.203
x222         -87.8088     14.959     -5.870      0.000    -117.128     -58.490
x223         -55.8637     33.292     -1.678      0.093    -121.117       9.389
x224        -105.9803     11.643     -9.102      0.000    -128.801     -83.159
x225         -84.2721     16.757     -5.029      0.000    -117.117     -51.428
x226        -114.4034     33.884     -3.376      0.001    -180.816     -47.991
x227         -73.3720     17.319     -4.237      0.000    -107.317     -39.427
x228         -77.5501     11.054     -7.016      0.000     -99.216     -55.885
x229         -48.0559      9.067     -5.300      0.000     -65.827     -30.284
x230          11.6029     46.720      0.248      0.804     -79.969     103.175
x231         -81.6338      8.882     -9.191      0.000     -99.043     -64.224
x232        -114.6492      9.319    -12.303      0.000    -132.914     -96.384
x233         -84.3527     16.441     -5.131      0.000    -116.577     -52.129
x234        -116.6117     10.661    -10.938      0.000    -137.508     -95.715
==============================================================================
Omnibus:                     7797.930   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15591.933
Skew:                           1.034   Prob(JB):                         0.00
Kurtosis:                       4.968   Cond. No.                     2.01e+18

---

# Try to Handle Outlier in `price` Column with Full Dataset and Dummies Categorical Features (Continue in ML 2)

## Preparing Dataset

In [45]:
df6 = df.copy()
df6.fillna(0, inplace=True)
df6.drop(columns=['id', 'name', 'host_id', 'host_name', 'last_review'], inplace=True) # host_id ga dibuang lagi karena Ridge udah deal sama multikol
df6 = df6[df6['price'] < 335]
df6 = pd.get_dummies(df6, prefix=['room_type'], columns=['room_type'])
df6 = pd.get_dummies(df6, prefix=['neighbourhood_group'], columns=['neighbourhood_group'])
df6 = pd.get_dummies(df6, prefix=['neighbourhood'], columns=['neighbourhood'])
df6

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,room_type_Entire home/apt,room_type_Private room,...,neighbourhood_Westchester Square,neighbourhood_Westerleigh,neighbourhood_Whitestone,neighbourhood_Williamsbridge,neighbourhood_Williamsburg,neighbourhood_Willowbrook,neighbourhood_Windsor Terrace,neighbourhood_Woodhaven,neighbourhood_Woodlawn,neighbourhood_Woodside
0,40.64749,-73.97237,149,1,9,0.21,6,365,0,1,...,0,0,0,0,0,0,0,0,0,0
1,40.75362,-73.98377,225,1,45,0.38,2,355,1,0,...,0,0,0,0,0,0,0,0,0,0
2,40.80902,-73.94190,150,3,0,0.00,1,365,0,1,...,0,0,0,0,0,0,0,0,0,0
3,40.68514,-73.95976,89,1,270,4.64,1,194,1,0,...,0,0,0,0,0,0,0,0,0,0
4,40.79851,-73.94399,80,10,9,0.10,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,40.67853,-73.94995,70,2,0,0.00,2,9,0,1,...,0,0,0,0,0,0,0,0,0,0
48891,40.70184,-73.93317,40,4,0,0.00,2,36,0,1,...,0,0,0,0,0,0,0,0,0,0
48892,40.81475,-73.94867,115,10,0,0.00,1,27,1,0,...,0,0,0,0,0,0,0,0,0,0
48893,40.75751,-73.99112,55,1,0,0.00,6,2,0,0,...,0,0,0,0,0,0,0,0,0,0
48894,40.76404,-73.98933,90,7,0,0.00,1,23,0,1,...,0,0,0,0,0,0,0,0,0,0

## Split Dataset

In [46]:
x6 = df6.drop(columns=['price'])
y6 = df6['price']

x6_train, x6_test, y6_train, y6_test = train_test_split(x6, y6, test_size=0.2, random_state=0)

## Testing Model

### Linear Regression, Lasso, Ridge, ElasticNet

In [47]:
linear = [LinearRegression(), Lasso(), Ridge(), ElasticNet()]
for i in linear:
    model = i
    model.fit(x6_train, y6_train)
    y6_pred = model.predict(x6_test)
    print(f'Model\t = {model}')
    print(f'RMSE\t = {round(np.sqrt(mean_squared_error(y6_test, y6_pred)), 2)}')
    print(f'MAE\t = {round(mean_absolute_error(y6_test,y6_pred), 2)}')
    print(f'R2 Score = {round( r2_score(y6_test,y6_pred) * 100 , 2)}')
    print('\n')

Model	 = LinearRegression()
RMSE	 = 409413474.07
MAE	 = 6639140.0
R2 Score = -3602215784320768.0


Model	 = Lasso()
RMSE	 = 49.91
MAE	 = 37.17
R2 Score = 46.47


Model	 = Ridge()
RMSE	 = 47.14
MAE	 = 34.54
R2 Score = 52.24


Model	 = ElasticNet()
RMSE	 = 55.71
MAE	 = 43.31
R2 Score = 33.3

### OLS for LinearModel

In [48]:
X_stat = df6.drop(columns=['price']).values
y_stat = df6['price'].values

X_stat = sm.add_constant(X_stat) # adding a constant

model = sm.OLS(y_stat, X_stat).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.531
Model:                            OLS   Adj. R-squared:                  0.529
Method:                 Least Squares   F-statistic:                     228.1
Date:                Thu, 06 Aug 2020   Prob (F-statistic):               0.00
Time:                        08:42:07   Log-Likelihood:            -2.4164e+05
No. Observations:               45923   AIC:                         4.837e+05
Df Residuals:                   45695   BIC:                         4.857e+05
Df Model:                         227
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -1.93e+04   1816.581    -10.622      0.000   -2.29e+04   -1.57e+04
x1           -99.6008     39.522     -2.520      0.012    -177.064     -22.137
x2          -457.2153     29.934    -15.274      0.000    -515.886    -398.545
x3            -0.2291      0.011    -20.097      0.000      -0.251      -0.207
x4            -0.0487      0.006     -7.980      0.000      -0.061      -0.037
x5            -0.0116      0.175     -0.067      0.947      -0.354       0.330
x6             0.0607      0.008      7.382      0.000       0.045       0.077
x7             0.0628      0.002     33.971      0.000       0.059       0.066
x8         -6376.1260    605.533    -10.530      0.000   -7562.980   -5189.272
x9         -6448.0978    605.529    -10.649      0.000   -7634.944   -5261.252
x10        -6471.0513    605.521    -10.687      0.000   -7657.882   -5284.221
x11        -3840.1721    365.769    -10.499      0.000   -4557.085   -3123.260
x12        -3876.2481    363.079    -10.676      0.000   -4587.889   -3164.607
x13        -3798.7328    362.174    -10.489      0.000   -4508.599   -3088.867
x14        -3817.4384    361.318    -10.565      0.000   -4525.628   -3109.249
x15        -3962.6837    364.378    -10.875      0.000   -4676.871   -3248.496
x16          -70.8509     10.602     -6.683      0.000     -91.632     -50.070
x17         -162.2900     25.045     -6.480      0.000    -211.379    -113.201
x18          -76.5934     13.345     -5.739      0.000    -102.751     -50.436
x19          -53.0696      7.378     -7.193      0.000     -67.530     -38.610
x20         -114.0201     11.192    -10.187      0.000    -135.957     -92.083
x21         -131.6751     13.619     -9.669      0.000    -158.368    -104.982
x22         -125.8082     12.795     -9.833      0.000    -150.886    -100.730
x23         -124.8838      9.677    -12.905      0.000    -143.851    -105.917
x24          -13.7472     20.675     -0.665      0.506     -54.271      26.777
x25         -118.8257     33.570     -3.540      0.000    -184.624     -53.027
x26          -70.2390     18.961     -3.704      0.000    -107.402     -33.076
x27          -46.3038     10.790     -4.291      0.000     -67.453     -25.155
x28          -65.2548     11.871     -5.497      0.000     -88.523     -41.987
x29          -74.7149      8.084     -9.242      0.000     -90.559     -58.870
x30          -70.3344     18.560     -3.790      0.000    -106.712     -33.957
x31          -20.1098     13.746     -1.463      0.143     -47.052       6.832
x32          -70.0195     12.443     -5.627      0.000     -94.408     -45.631
x33         -125.1856      9.299    -13.462      0.000    -143.413    -106.959
x34          -83.8844     15.546     -5.396      0.000    -114.354     -53.415
x35          -60.8972      9.696     -6.280      0.000     -79.902     -41.892
x36         -122.7121      9.076    -13.520      0.000    -140.501    -104.923
x37           33.9877     27.459      1.238      0.216     -19.832      87.807
x38          -79.6597      9.564     -8.329      0.000     -98.405     -60.915
x39         -102.6187      8.231    -12.467      0.000    -118.752     -86.485
x40          -99.4180     13.037     -7.626      0.000    -124.971     -73.865
x41          -60.8122     10.202     -5.961      0.000     -80.808     -40.816
x42          -76.4110      9.028     -8.464      0.000     -94.106     -58.717
x43         -119.6966     21.534     -5.558      0.000    -161.904     -77.489
x44          -66.9412      8.006     -8.361      0.000     -82.634     -51.249
x45          -36.2980     10.374     -3.499      0.000     -56.631     -15.965
x46          -75.3492      6.999    -10.766      0.000     -89.067     -61.631
x47          -71.6103      9.645     -7.424      0.000     -90.515     -52.705
x48          -93.1921     16.551     -5.631      0.000    -125.632     -60.752
x49          -43.4643     24.982     -1.740      0.082     -92.430       5.501
x50         -108.5971     11.676     -9.301      0.000    -131.482     -85.712
x51         -136.9715     11.131    -12.306      0.000    -158.788    -115.156
x52          -36.4637     12.900     -2.827      0.005     -61.747     -11.180
x53         -130.2666     12.901    -10.097      0.000    -155.553    -104.980
x54          -90.4781     12.172     -7.433      0.000    -114.335     -66.621
x55          -68.6784     12.389     -5.544      0.000     -92.961     -44.396
x56          -76.1706     15.059     -5.058      0.000    -105.686     -46.655
x57          -65.7005      8.819     -7.450      0.000     -82.987     -48.414
x58          -43.7805     33.163     -1.320      0.187    -108.780      21.219
x59          -62.8600     10.480     -5.998      0.000     -83.401     -42.319
x60         -111.0719     14.723     -7.544      0.000    -139.929     -82.215
x61          -85.7391     11.850     -7.235      0.000    -108.965     -62.513
x62          -86.5389     12.683     -6.823      0.000    -111.397     -61.681
x63          -99.9891     10.730     -9.319      0.000    -121.020     -78.959
x64          -99.2375     11.693     -8.487      0.000    -122.155     -76.320
x65         -106.7143     13.444     -7.937      0.000    -133.066     -80.363
x66         -115.7256     10.862    -10.654      0.000    -137.015     -94.436
x67          -77.4753      7.863     -9.853      0.000     -92.887     -62.064
x68          -65.0980      7.937     -8.202      0.000     -80.654     -49.541
x69          -28.6820     12.504     -2.294      0.022     -53.190      -4.174
x70         -114.8540     11.446    -10.035      0.000    -137.288     -92.420
x71          -98.7831     19.309     -5.116      0.000    -136.629     -60.937
x72          -48.6083     17.800     -2.731      0.006     -83.497     -13.720
x73          -55.0556     10.512     -5.238      0.000     -75.659     -34.453
x74         -126.4737     15.608     -8.103      0.000    -157.065     -95.882
x75         -106.1692     10.674     -9.947      0.000    -127.090     -85.248
x76          -88.1995      7.299    -12.084      0.000    -102.505     -73.894
x77         -122.5089     11.704    -10.467      0.000    -145.449     -99.569
x78          -78.9626     16.420     -4.809      0.000    -111.147     -46.778
x79          -64.8566      7.106     -9.127      0.000     -78.785     -50.929
x80         -121.7503     10.879    -11.192      0.000    -143.073    -100.428
x81          -37.6793     15.347     -2.455      0.014     -67.759      -7.599
x82          -66.2021     15.025     -4.406      0.000     -95.651     -36.753
x83          -73.0768     14.523     -5.032      0.000    -101.542     -44.611
x84         -104.9051      9.969    -10.523      0.000    -124.444     -85.366
x85          -74.1216     27.994     -2.648      0.008    -128.991     -19.252
x86         -106.7163     22.745     -4.692      0.000    -151.296     -62.137
x87          -65.7993      9.974     -6.597      0.000     -85.348     -46.250
x88          -87.4675     16.266     -5.377      0.000    -119.349     -55.586
x89         -125.7888     11.268    -11.163      0.000    -147.875    -103.703
x90          -98.8155      7.633    -12.946      0.000    -113.776     -83.855
x91          -97.7447     12.800     -7.636      0.000    -122.833     -72.657
x92          -81.1750      8.103    -10.018      0.000     -97.056     -65.294
x93          -77.1837      8.911     -8.662      0.000     -94.649     -59.719
x94          -83.5488     10.330     -8.088      0.000    -103.796     -63.302
x95          -86.0759      9.162     -9.395      0.000    -104.033     -68.119
x96          -64.2611      9.118     -7.048      0.000     -82.133     -46.389
x97         -133.7506     10.760    -12.431      0.000    -154.839    -112.662
x98          -64.8662     11.172     -5.806      0.000     -86.764     -42.968
x99         -119.6292     10.876    -11.000      0.000    -140.946     -98.313
x100         -69.6112      9.339     -7.454      0.000     -87.917     -51.306
x101        -114.9402     11.328    -10.147      0.000    -137.143     -92.737
x102        -144.5760     28.654     -5.046      0.000    -200.738     -88.414
x103        -138.8621     20.694     -6.710      0.000    -179.423     -98.301
x104        -110.0536      8.881    -12.392      0.000    -127.461     -92.647
x105         -96.3488     17.182     -5.608      0.000    -130.026     -62.672
x106         -53.8107      9.597     -5.607      0.000     -72.620     -35.001
x107        -105.4355     11.550     -9.128      0.000    -128.075     -82.796
x108         -36.0165     19.690     -1.829      0.067     -74.609       2.576
x109        -129.6746     12.361    -10.491      0.000    -153.903    -105.447
x110        -112.5004     11.884     -9.467      0.000    -135.792     -89.208
x111        -104.4421     12.458     -8.383      0.000    -128.861     -80.024
x112         -49.9314     13.817     -3.614      0.000     -77.014     -22.849
x113          13.5452     23.887      0.567      0.571     -33.273      60.364
x114         -88.3875     12.441     -7.104      0.000    -112.772     -64.003
x115        -144.2744     34.298     -4.206      0.000    -211.500     -77.049
x116        -132.2683     28.147     -4.699      0.000    -187.437     -77.099
x117         -99.0464     13.093     -7.565      0.000    -124.709     -73.384
x118        -133.1498     13.745     -9.687      0.000    -160.091    -106.209
x119        -107.1239     10.429    -10.271      0.000    -127.566     -86.682
x120         -71.5515      6.778    -10.557      0.000     -84.836     -58.267
x121         -54.2364     13.128     -4.131      0.000     -79.968     -28.505
x122         -28.8126     17.668     -1.631      0.103     -63.443       5.818
x123        -100.5595      8.462    -11.883      0.000    -117.146     -83.973
x124         -79.5344     11.113     -7.157      0.000    -101.316     -57.753
x125         -88.5688     11.999     -7.381      0.000    -112.087     -65.050
x126         -85.3222     10.619     -8.035      0.000    -106.135     -64.509
x127        -124.2159     11.266    -11.026      0.000    -146.297    -102.135
x128         -55.4588     11.840     -4.684      0.000     -78.666     -32.252
x129         -73.6083     33.658     -2.187      0.029    -139.578      -7.639
x130        -135.2199     11.837    -11.423      0.000    -158.421    -112.019
x131         -28.7385     21.818     -1.317      0.188     -71.503      14.026
x132        -109.9126     11.427     -9.619      0.000    -132.309     -87.516
x133         -92.6735      9.846     -9.412      0.000    -111.972     -73.375
x134        -128.6631     10.867    -11.840      0.000    -149.962    -107.364
x135        -107.7454     17.220     -6.257      0.000    -141.497     -73.993
x136        -126.7243     18.847     -6.724      0.000    -163.665     -89.784
x137         -96.3972     19.732     -4.885      0.000    -135.072     -57.723
x138        -124.9143     10.719    -11.653      0.000    -145.925    -103.904
x139        -110.7111     16.659     -6.646      0.000    -143.363     -78.060
x140        -111.9166     12.181     -9.188      0.000    -135.791     -88.042
x141        -112.3141     20.511     -5.476      0.000    -152.517     -72.112
x142         -97.7210     11.347     -8.612      0.000    -119.961     -75.481
x143        -104.2392      8.139    -12.807      0.000    -120.192     -88.287
x144         -39.9224     23.571     -1.694      0.090     -86.121       6.277
x145        -134.5178     12.622    -10.657      0.000    -159.258    -109.778
x146         -92.9114     14.162     -6.560      0.000    -120.670     -65.153
x147         -70.1946     13.955     -5.030      0.000     -97.547     -42.843
x148         -81.1280     13.493     -6.013      0.000    -107.574     -54.682
x149        -106.3835     10.113    -10.520      0.000    -126.205     -86.562
x150        -102.5640     20.602     -4.978      0.000    -142.944     -62.184
x151        -102.2978     13.307     -7.688      0.000    -128.379     -76.217
x152        -110.6357     11.322     -9.772      0.000    -132.826     -88.445
x153         -49.6418     15.266     -3.252      0.001     -79.563     -19.720
x154         -13.0227     33.167     -0.393      0.695     -78.030      51.985
x155         -40.1985     22.831     -1.761      0.078     -84.948       4.551
x156        -155.5347     46.526     -3.343      0.001    -246.727     -64.343
x157        -115.4968     22.134     -5.218      0.000    -158.879     -72.114
x158        -119.9042     19.118     -6.272      0.000    -157.376     -82.432
x159         -94.7581     12.642     -7.496      0.000    -119.536     -69.980
x160        -110.1937     11.428     -9.642      0.000    -132.593     -87.794
x161         -71.3079     17.505     -4.074      0.000    -105.619     -36.997
x162         -69.7941     11.849     -5.890      0.000     -93.019     -46.569
x163        -101.4216     22.251     -4.558      0.000    -145.034     -57.809
x164         -46.0506     24.422     -1.886      0.059     -93.919       1.817
x165        -111.2997      9.445    -11.784      0.000    -129.813     -92.787
x166         -61.9998      8.811     -7.037      0.000     -79.270     -44.730
x167         -71.6135     10.281     -6.966      0.000     -91.764     -51.463
x168         -58.9133     13.043     -4.517      0.000     -84.479     -33.348
x169         -76.2335     11.543     -6.604      0.000     -98.858     -53.609
x170         -97.3840     10.697     -9.104      0.000    -118.351     -76.417
x171         -84.6479     18.653     -4.538      0.000    -121.208     -48.087
x172        -110.1160     28.354     -3.884      0.000    -165.690     -54.542
x173         -66.0795      8.750     -7.552      0.000     -83.230     -48.929
x174         -91.2406      7.883    -11.574      0.000    -106.691     -75.790
x175         -63.4066      8.392     -7.556      0.000     -79.855     -46.958
x176        -106.4923     15.067     -7.068      0.000    -136.024     -76.961
x177         -99.5111     10.796     -9.218      0.000    -120.671     -78.351
x178        -101.2370      9.847    -10.281      0.000    -120.538     -81.936
x179         -88.9395      8.667    -10.262      0.000    -105.927     -71.951
x180        -152.1101     46.565     -3.267      0.001    -243.379     -60.842
x181        -126.3720      9.666    -13.074      0.000    -145.317    -107.427
x182         -75.8791     18.811     -4.034      0.000    -112.748     -39.010
x183         -82.6650      8.317     -9.939      0.000     -98.966     -66.364
x184        -130.6066     12.026    -10.861      0.000    -154.177    -107.036
x185         -63.9074     19.457     -3.285      0.001    -102.042     -25.772
x186         -57.6481      7.348     -7.845      0.000     -72.051     -43.246
x187        -184.3683     46.951     -3.927      0.000    -276.394     -92.343
x188         -59.6334     14.283     -4.175      0.000     -87.628     -31.639
x189         -98.8438     21.851     -4.523      0.000    -141.673     -56.015
x190         -95.8366      7.232    -13.251      0.000    -110.012     -81.661
x191          -7.6981     19.366     -0.398      0.691     -45.655      30.259
x192         -95.6941     33.731     -2.837      0.005    -161.808     -29.580
x193        -116.8671     11.595    -10.079      0.000    -139.593     -94.141
x194        -101.5950     13.827     -7.347      0.000    -128.697     -74.493
x195         -52.2258     18.377     -2.842      0.004     -88.245     -16.207
x196         -88.8667      9.599     -9.258      0.000    -107.681     -70.052
x197         -71.3443      8.926     -7.993      0.000     -88.840     -53.849
x198         -56.5089      7.100     -7.960      0.000     -70.424     -42.594
x199        -108.6439     28.130     -3.862      0.000    -163.780     -53.508
x200         -58.3821      7.841     -7.446      0.000     -73.750     -43.014
x201         -65.0290     12.040     -5.401      0.000     -88.627     -41.431
x202         -67.6427     13.189     -5.129      0.000     -93.493     -41.793
x203        -129.7275     13.239     -9.799      0.000    -155.677    -103.778
x204        -126.1404     10.857    -11.619      0.000    -147.420    -104.861
x205        -109.4508      8.965    -12.209      0.000    -127.022     -91.879
x206         -98.1266     12.002     -8.176      0.000    -121.650     -74.603
x207         -53.8812     11.093     -4.857      0.000     -75.623     -32.139
x208        -107.2626     28.038     -3.826      0.000    -162.218     -52.308
x209         -79.7971     12.101     -6.594      0.000    -103.515     -56.079
x210        -124.6610     20.671     -6.031      0.000    -165.177     -84.145
x211        -102.5605     15.984     -6.417      0.000    -133.889     -71.232
x212         -85.6736     12.082     -7.091      0.000    -109.355     -61.992
x213        -136.8221     12.089    -11.318      0.000    -160.516    -113.128
x214         -80.6889     19.896     -4.056      0.000    -119.685     -41.693
x215         -92.5250     13.333     -6.940      0.000    -118.657     -66.393
x216        -115.3617     11.287    -10.221      0.000    -137.485     -93.239
x217        -114.8908     12.139     -9.465      0.000    -138.683     -91.098
x218         -66.7463     16.299     -4.095      0.000     -98.692     -34.801
x219         -34.1158     12.473     -2.735      0.006     -58.563      -9.669
x220         -60.8016     10.694     -5.685      0.000     -81.763     -39.840
x221        -136.8903     13.105    -10.445      0.000    -162.577    -111.203
x222         -87.8088     14.959     -5.870      0.000    -117.128     -58.490
x223         -55.8637     33.292     -1.678      0.093    -121.117       9.389
x224        -105.9803     11.643     -9.102      0.000    -128.801     -83.159
x225         -84.2721     16.757     -5.029      0.000    -117.117     -51.428
x226        -114.4034     33.884     -3.376      0.001    -180.816     -47.991
x227         -73.3720     17.319     -4.237      0.000    -107.317     -39.427
x228         -77.5501     11.054     -7.016      0.000     -99.216     -55.885
x229         -48.0559      9.067     -5.300      0.000     -65.827     -30.284
x230          11.6029     46.720      0.248      0.804     -79.969     103.175
x231         -81.6338      8.882     -9.191      0.000     -99.043     -64.224
x232        -114.6492      9.319    -12.303      0.000    -132.914     -96.384
x233         -84.3527     16.441     -5.131      0.000    -116.577     -52.129
x234        -116.6117     10.661    -10.938      0.000    -137.508     -95.715
==============================================================================
Omnibus:                     7797.930   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15591.933
Skew:                           1.034   Prob(JB):                         0.00
Kurtosis:                       4.968   Cond. No.                     2.01e+18

---